[Unit]
Description=rnspipe
After=multi-user.target rnsd.service

[Service]
WorkingDirectory=/opt/reticulum
KillMode=process
ExecStart=/usr/bin/python rnspipe.py
Restart=always
RestartSec=10
TimeoutStartSec=10

# [Install]
# WantedBy=multi-user.target
