[Unit]
Description=gwsocket port for local GPS (plain/7790)
After=multi-user.target
Conflicts=wss-gpssocket.service

[Service]
WorkingDirectory=/opt/edgemap
KillMode=process
ExecStart=gwsocket -p 7790 --pipein=/tmp/gpssocket
Restart=always
RestartSec=5
TimeoutStartSec=5

# [Install]
# WantedBy=multi-user.target
