[Unit]
Description=gwsocket for msgchannel (plain/7990)
After=multi-user.target
Conflicts=wss-msgchannel.service

[Service]
WorkingDirectory=/opt/edgemap
KillMode=process
ExecStart=gwsocket -p 7990 --pipein=/tmp/msgchannel --pipeout=/tmp/msgincoming
Restart=always
RestartSec=5
TimeoutStartSec=5

# [Install]
# WantedBy=multi-user.target
