[Unit]
Description=gwsocket for meshtastic status messages (plain/7995)
After=multi-user.target
Conflicts=wss-statusin.service

[Service]
WorkingDirectory=/opt/edgemap
KillMode=process
ExecStart=gwsocket -p 7995 --pipein=/tmp/statusin
Restart=always
RestartSec=5
TimeoutStartSec=5

# [Install]
# WantedBy=multi-user.target
