[Unit]
Description=gwsocket for rnspipe messages (SSL/8990)
After=multi-user.target rnsd.service rnspipe.service
Conflicts=wss-msgchannel.service

[Service]
WorkingDirectory=/opt/edgemap
KillMode=process
ExecStart=gwsocket -p 8990 --pipein=/tmp/rnsmsgoutput --pipeout=/tmp/rnsmsginput --ssl-cert=/etc/apache2/edgemap.crt --ssl-key=/etc/apache2/edgemap.key
Restart=always
RestartSec=5
TimeoutStartSec=5

[Install]
WantedBy=multi-user.target
