[Unit]
Description=gwsocket for meshpipe (meshtastic) (SSL/8991)
After=multi-user.target
Conflicts=ws-msgchannel.service

[Service]
WorkingDirectory=/opt/edgemap
KillMode=process
ExecStart=gwsocket -p 8991 --pipein=/tmp/msgchannel --pipeout=/tmp/msgincoming --ssl-cert=/etc/apache2/edgemap.crt --ssl-key=/etc/apache2/edgemap.key
Restart=always
RestartSec=5
TimeoutStartSec=5

#[Install]
#WantedBy=multi-user.target
