[Unit]
Description=hostapd for internal wifi adapter (5 GHz band)
After=network.target

[Service]
Type=forking
Restart=on-failure
RestartSec=2
ExecStart=/usr/sbin/hostapd -B /etc/hostapd.conf 

[Install]
WantedBy=multi-user.target
