[Unit]
Description=janus webrtc server
After=multi-user.target

[Service]
WorkingDirectory=/etc/janus
KillMode=process
ExecStart=janus -C janus.jcfg
Restart=always
RestartSec=2
TimeoutStartSec=5

[Install]
WantedBy=multi-user.target

