[Unit]
Description=partitioning service
After=multi-user.target                    

[Service]   
Type=oneshot
RemainAfterExit=true   
ExecStart=sh -c /bin/create-partition.sh

# [Install]
# WantedBy=multi-user.target

