[Unit]
Description=tileserver-gl-light for wlan0
After=multi-user.target

[Service]
WorkingDirectory=/mnt
KillMode=process
ExecStart=/bin/tileserver-gl-light -c /opt/edgemap/edgeui/config.json -p 8085
Restart=always
RestartSec=2
TimeoutStartSec=5

# [Install]
# WantedBy=multi-user.target
