# /etc/systemd/system/udp2raw.service 
[Unit]
Description=udp2raw for wireguard
Before=sys-devices-virtual-net-wg0.device
After=network.target
Conflicts=rtptun.service 

[Service]
WorkingDirectory=/tmp
EnvironmentFile=/opt/wgcap/wgcap_service.conf
ExecStart=udp2raw -c -l0.0.0.0:3333 -r${SERVER_IP}:5005 -k ${UDP2RAW_PSK} --raw-mode faketcp -a
Type=simple
Restart=always
RestartSec=5
