[Unit]
Description=gwsocket for highrate (plain/7890)
After=multi-user.target
Conflicts=wss-highrate.service

[Service]
WorkingDirectory=/opt/edgemap
KillMode=process
ExecStart=gwsocket --pipein=/tmp/wscontrol
Restart=always
RestartSec=5
TimeoutStartSec=5

# [Install]
# WantedBy=multi-user.target
