[Unit]
Description=gwsocket for status messages
After=multi-user.target

[Service]
WorkingDirectory=/opt/edgemap
KillMode=process
ExecStart=gwsocket -p 7995 --pipein=/tmp/statusin
Restart=always
RestartSec=1
TimeoutStartSec=5

[Install]
WantedBy=multi-user.target
