[Unit]
Description=gwsocket for highrate
After=multi-user.target

[Service]
WorkingDirectory=/opt/edgemap
KillMode=process
ExecStart=gwsocket --ssl-cert=/opt/edgemap/ca/buildroot.crt --ssl-key=/opt/edgemap/ca/buildroot.key --pipein=/tmp/wscontrol
Restart=always
RestartSec=1
TimeoutStartSec=5

[Install]
WantedBy=multi-user.target
