ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="20a0", ATTR{idProduct}=="4108", RUN+="/opt/nk-macsec/rekey.sh"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="20a0", ATTR{idProduct}=="4109", RUN+="/opt/nk-macsec/rekey.sh"
